@media (max-width: 500px) {
  .container ul {
    margin-top: 1.5rem;
  }

  .container ul a:{
    margin: 2rem;
  }
  h1,
  h2 {
    font-size: 2rem;
  }

  img {
    margin-top: 4rem;
  }

  header {
    height: 65vh;
  }
  .main-header {
    margin-top: 3rem;
  }

  p {
    margin-top: 1.3rem;
  }

  .line {
    margin: 0 2.5rem;
  }

  .main-section {
    margin: 0 0.2rem;
  }

  .main-footer {
    background: var(--primary-color);
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    font-size: px;
    text-align: center;
  }

  .footer-content .social {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding-left: 3rem;
    padding-bottom: 1.2rem;
    font-size: .8rem;
  }
