@media (max-width: 500px) {
  .container ul {
    margin-top: 1.5rem;
  }
  h1,
  h2 {
    font-size: 2rem;
  }

  img {
    margin-top: 4rem;
  }

  header {
    height: 65vh;
  }
  .main-header {
    margin-top: 3rem;
  }

  p {
    margin-top: 1.3rem;
  }

  .line {
    margin: 0 2.5rem;
  }

  .main-section {
    margin: 0 0.2rem;
  }

  

  .main-footer .social {
    display: none;
  }
